.productBody{
    display: flex;
    justify-content: center;
    background-color: burlywood;
    width: 100%;
    height: auto;
    .productList{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        
        background-color: aqua;
        align-items: center;
        button{
            width: 30%;
        }
        button, p, .coast{
            margin: 1%;
        }
    }
}
